<html>
  <style>
    body{
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>2022 FIFA World Cup DataBase</h1>
  <p><a href="matches">Go to Matches record page</a></p>
  <!-- <p><a href="matches">Go to Players data page</a></p> -->
  <h2>Scoreboard of Group Stage</h2>

  <div>
  {% for groups in data %}
  <h3>Group{{groups[0][0]}}</h3>
  <table border="1">
  <thead>
    <tr>
      <th>Team</th>
      <th>Points</th>
      <th>Ranking</th>
    </tr>
  </thead>
  <tbody>
    {% for teams in groups %}
      <tr>
        <td>{{ teams[1] }}</td>
        <td>{{ teams[2] }}</td>
        <td>{{ teams[3] }}</td>
      </tr>
    {% endfor %}
  </tbody>
  </table>
  {% endfor %}
  </div>

</body>


</html>
