<html>
  <style>
    body{
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>2022 FIFA World Cup DataBase</h1>
  <p><a href="/">Go to Scoreboard page</a></p>
  <p><a href="players">Go to Players record page</a></p>
  <h2>Matches Data</h2>

  <div>

  </div>


<form method="POST" action="/add">
<p>Name of new computer scientist(this is the original example provided by professor in test table): HERE WE CAN ADD A MODULE OF ADDING MATCH DATA <input type="text" name="name"> <input type="submit" value="Add"></p>
</form>

</body>


</html>
