<html>
  <style>
    body{
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>2022 FIFA World Cup DataBase</h1>
  <p><a href="/">Scoreboard </a>&nbsp;&nbsp;&nbsp;&nbsp; <a href="players"> Players</a></p>
  <hr>
  <h2>Matches Data</h2>

<form method="POST" action="/searchmatches">
<p>Type in the team name to search its match records and team squad:<input type="text" name="name"> <input type="submit" value="Search"></p>
</form>

{% if data1 %}
<div>
<h3>All matches for the team you selected</h3>
<table border="1">
<thead>
  <tr>
    <th>Date</th>
    <th>Time</th>
    <th>Stadium</th>
    <th>Home Team</th>
    <th>Score</th>
    <th>Away Team</th>
    <th>Referee</th>
  </tr>
</thead>
<tbody>
	{% for records in data1 %}
    <tr>
      <td>{{ records[0] }}</td>
      <td>{{ records[1] }}</td>
      <td>{{ records[2] }}</td>
      <td>{{ records[3] }}</td>
      <td>{{ records[4] }}</td>
      <td>{{ records[5] }}</td>
      <td>{{ records[6] }}</td>
    </tr>
  {% endfor %}
</tbody>
</table>
</div>
{% endif %}

{% if data2%}
<div>
<h3>Team Squad</h3>
<table border="1">
<thead>
  <tr>
    <th>Player Name</th>
    <th>Position</th>
    <th>Club</th>
    <th>Jersey Number</th>
  </tr>
</thead>
<tbody>
  {% for records2 in data2 %}
    <tr>
      <td>{{ records2[0] }}</td>
      <td>{{ records2[1] }}</td>
      <td>{{ records2[2] }}</td>
      <td>{{ records2[3] }}</td>
    </tr>
  {% endfor %}
</tbody>
</table>
</div>
{% endif %}


</body>


</html>
